name: Test

on:
  pull_request:
    branches: [v2-devel]
  push:
    branches: [v2-devel]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ["1.17", "1.18"]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: test
        uses: n8maninger/action-golang-test@v1
        with:
          args: "-race"
          skip-go-install: true
          show-package-output: true
  test-ui:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [16]
    steps:
      - uses: actions/checkout@v2
      - name: Setup
        uses: ./.github/actions/setup-ui
        with:
          node_version: ${{ matrix.node_version }}
      - name: Test
        uses: ./.github/actions/test-ui
